// My Variables

// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #F44336;
$orange: #e97d27;
$yellow: #f1c40f;
$green:  #00BFA5;
$blue:   #095387;
$teal:   #137DC8;
$pink:   #ff5b77;
$purple: #613d7c;

// Create grayscale
$gray-dark:                 #373a3c; // 24%
$gray:                      #55595c; // 36%
$gray-light:                #818a91; // 54%
$gray-lighter:              #eceeef; // 93%
$gray-lightest:             #f7f7f7; // 97%

// Reassign color vars to semantic color scheme
$brand-primary:             #34495e;
$brand-success:             #1abc9c;
$brand-info:                #3498db;
$brand-warning:             #f39c12;
$brand-danger:              #e74c3c;
$brand-inverse:             $gray-dark;

$font-family-sans-serif: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// SPACE
$spacer: 1rem; // double this to make 1.5rem aka mb-4 aka 24px

$grid-gutter-width-base: $spacer * 1.5;

$border-radius:          .25rem; // 4
$border-radius-lg:       .5rem; // 8
$border-radius-sm:       .2rem; // 3


$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

$headings-margin-bottom: $spacer;

$card-spacer-x:            1.25rem;
$card-spacer-y:            1rem;

$card-border-width:        0px;


// custom checks and radios
$custom-control-focus-indicator-box-shadow: 0 0 0 1px $white, 0 0 0 3px $gray-lighter;
$custom-control-checked-indicator-bg: $brand-success;
$custom-control-active-indicator-bg: lighten($brand-success, 35%);