// custom css for the reputation module

@import "../../../scss/frsh/frsh-variables";
@import "../../../scss/bootstrap/variables";
@import "../../../scss/bootstrap/mixins";

//
// the summary page 
// 

body {
    background-color: #ecf0f1;
}

// make my cards quick and dirty
.card-frsh {
}

.card {
	.d-flex > & {
		flex: 1 1 auto;
	}
}

.material-icons {
	font-size: inherit;
	line-height: inherit;
    vertical-align: bottom;
}

// frsh-rating
.frsh-rating {
	display: flex;
	align-items: center;

	// add this class for larger rating
	&.frsh-rating-lg {
		font-size: 1.5rem;
		line-height: $headings-line-height;
		.frsh-rating-stats {
			font-size: 1rem;
		}
	}
	&.frsh-rating-xl {
		flex-flow: column nowrap;
		justify-content: center;
		flex: 1 1 auto;
		font-size: 2.5rem;
		line-height: $headings-line-height;
		.frsh-rating-stats {
			font-size: 1.25rem;
		}
	}
}
	
// the score
.frsh-rating-score {
	font-weight: 500;
	color: $brand-warning;
}

.frsh-rating-stars {
	display: flex;
	.star {
		color: $brand-warning;
	}
	.star-half {
		background: linear-gradient(to right, $brand-warning 0%, $brand-warning 50%, $gray-lighter 50%, $gray-lighter 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.star-zero {
		color: $gray-lighter;
	}
}
.frsh-rating-sentiment {
	color: $gray-light;
}
.frsh-rating-stats {
	color: $gray-light;
}





// Review Module (maybe tweets as well)
.frsh-review {
	border: 1px solid $gray-lighter;
	border-radius: $border-radius;
	padding: $spacer;
	.frsh-review-header {
		margin-bottom: 1.5rem;
	}
	.frsh-review-content {
		p:last-child {
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-up(lg) {
	.position-relative {
		position: relative;
	}
	.frsh-limit {
		// put this inside a flex item to limit the height 
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		padding: 1rem;
		overflow-y: auto;
	}
}








// Use it in the review or wherever
.frsh-profile {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.frsh-profile-img {
	margin-right: 1rem;
	img {
		display: block;
		height: 3rem;
		width: 3rem;
		object-fit: cover;
	}
}

.frsh-profile-name {
	.profile-name {
		font-size: $font-size-lg;
		line-height: $headings-line-height;
		font-weight: $headings-font-weight;
		margin-bottom: .25rem;
	}
	.profile-meta {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		font-size: $font-size-sm;
		color: $gray-light;
		div {
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
		img {
			height: $font-size-sm * 1.5;
			width: auto;
		}
	}
}

.frsh-review-action {
	margin-left: auto;
}







// FRSH ACTION! Use these for icons that are buttons but not buttons... 48px height and usually square/circle
.frsh-action {
	display: block;
	font-size: 2rem;
	line-height: 3rem;
	height: 3rem;
	width: 3rem;
	text-align: center;

	color: $gray-light;
}



// use this for a timer on the reputation page top card section
.frsh-card-update {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	font-size: $font-size-sm;
	color: $gray-light;
}










// SOCIAL Page
.frsh-score {
	font-size: $font-size-h1;
	line-height: $headings-line-height;
	margin-bottom: $headings-margin-bottom;
}